server:
  port: 8090
spring:
  mvc:
    throw-exception-if-no-handler-found: true
    static-path-pattern: /statics/**
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  shardingsphere:
    datasource:
      names: ds0
      ds0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.64.2:3306/artino
        username: root
        password: 12345678
#    sharding:
#      tables:
#        t1_user:
#          actual-data-nodes: ds0.t_user_$->{0..1}
#          table-strategy:
#            inline:
#              sharding-column: id
#              algorithm-expression: t_user_$->{id % 1}
    props:
      sql.show: true
  redis:
    host: 192.168.64.2
    port: 6379
    password: hello_redis
    lettuce:
      shutdown-timeout: 100ms
      pool:
        max-active: 8
        max-idle: 5
        max-wait: 1ms
        min-idle: 2
  rabbitmq:
    host: 192.168.64.2
    port: 5672
    username: nothing
    password: hello_mq
    virtual-host: /
springfox:
  documentation:
    swagger-ui:
      enabled: true
logging:
  level:
    com:
      application:
        server:
          mapper:
            sys: debug
mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  configuration:
    default-enum-type-handler: com.artino.service.config.EnumStatusHandler
constant:
  code:
    verify: 5  #验证次数
    expired: 5 #分钟
  login:
    times: 5 #登录错误次数锁定
    single: 0 #是否单点登录 0:不是 1:是